body{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
    text-align: justify;
    font-style: italic;
    color:#404040;
}
  h1, h3, h4, h5, h6{
    font-family: 'Inter',sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration: line-through;

  }
  h2{
    text-align: center;
    color: black;
  }
#banner{
    object-fit:cover;
}
a{
    text-decoration:none;
}
a:hover, a:focus  {
    color:#f6d43b;
}
#navbar{
    padding:8px;
    margin:0;
}
#banner{ 
    width:100%;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
#about {
    display:flex;
    max-width:800px;
    margin:0 auto;
    padding:8px;
}  
#description{
    width:50%;
    padding-right:8px;
    line-height: 1.5;
    font-size:1.25rem;
}  
#team{
    width:50%;
}
#team-image{
    border-radius:5px;
    width:100%

}
#jobs-table{
    width:100%; 
    border:1px solid gray;
    border-collapse: collapse;
}
.jobs-header-row th{
    border:1px solid gray;
    padding:8px;
    background-color: aliceblue;
    text-align:center  ;
}
.jobs-data-row td{
    border:1px solid gray;
    padding:8px; 
} 
#jobs-table tr:nth-child(odd){
    background-color:#E0F2FE ; 
}
.form-group{
    margin:8px;
}  
#application{
    max-width: 800px;
    margin: 0 auto;

}
#application-form label{
    font-weight: 600;
} 
#application-form input, select, textarea{
    padding:8px;
    font-size:1.25rem;
    margin-top:4px;
    border-radius:5px;
    border:1px solid gray;
}
.form-group textarea{
    width:80%;
    font-family: 'Roboto', sans-serif;
}
.form-group input[type="checkbox"]{
    width:16px;
    height:16px;

}
.form-group input[type="submit"]{
    background-color: #60A5FA;
    color:white;
    font-weight: 500;
    padding:16px 16px 16px 16px; 
    cursor:pointer;

}
.location{
    color:grey;
    margin-bottom: 16px;
}
#jobs{
    max-width:800px;
    margin:0 auto;
    padding:0 8px;
}
h3{
    margin-bottom:0;
}
.apply{
    float:right; 
}
#footer{
    background-color:ghostwhite;
    padding:8px;
    margin-top:32px;
    text-align:center;

}
#footer-link{
    list-style:none;
}

#footer-link li{
    display:inline;
    margin:0 16px;
}
.copyright{
     color:grey;
}
 